<app-tool-bar></app-tool-bar>
<div class="conteudo">
  <div>
    <app-menu></app-menu>
  </div>
  <div style="min-width: 1000px;">
    <nav class="navbar navbar-light bg-light">
      <input
        [(ngModel)]="nomeBusca"
        class="form-control mr-sm-2"
        type="search"
        placeholder="Busca"
        aria-label="Search"
      />
    </nav>
    <div
      *ngFor="let b of pacientes; index as i"
      class="col-12 col-md-6 col-lg-4 col-xl-3"
    >
      <div
        *ngIf="
          b.nome.toUpperCase().includes(nomeBusca.toUpperCase()) &&
          nomeBusca !== ''
        "
      >
        <div  class="container my-5">
          <div class="row d-flex">
            <div  (click)="Detalhes(b.id)" class="card mb-3 col p-0">

              <div class="card-body">
                <h5 class="card-title">Nome: {{ b.nome }}</h5>
                <p class="card-text">Cep: {{ b.cep }}</p>
                <p class="card-text">Rua: {{ b.rua }}</p>
                <p class="card-text">Id {{ b.id }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container my-5">
      <div class="row d-flex">
        <div
          *ngFor="let b of pacientes; index as i"
          class="col-12 col-md-6 col-lg-4 col-xl-3"
        >
          <div class="card mb-3 col p-0" (click)="Detalhes(b.id)">
            <div class="card-body">
              <h5 class="card-title">Nome: {{ b.nome }}</h5>
              <p class="card-text">Cep: {{ b.cep }}</p>
              <p class="card-text">Rua: {{ b.rua }}</p>
              <p class="card-text">Id {{ b.id }}</p>
              <span>clique p + Detalhes</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
