<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>LOGIN</h1>
      <form (ngSubmit)="OnSubmit()" [formGroup]="registerForm">
        <label>E-mail</label>
        <input
          [ngClass]="{'is-invalid': submitted && registerForm.controls?.['email']?.errors}"
          type="text"
          formControlName="email"
          class="form-control"
        />
        <div
          *ngIf="submitted && registerForm.controls?.['email']?.errors"
          class="text-danger"
        >
          <div *ngIf="registerForm.controls?.['email']?.errors?.['required']">
            O Email é obrigatório!!
          </div>
          <div *ngIf="registerForm.controls?.['email']?.errors?.['email']">
            O Email Incorreto!!
          </div>
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input
            type="password"
            [ngClass]="{'is-invalid': submitted && registerForm.controls?.['senha']?.errors}"
            formControlName="senha"
            class="form-control"
          />
          <div
            *ngIf="submitted && registerForm.controls?.['senha']?.errors"
            class="text-danger"
          >
            <div
              *ngIf=" registerForm.controls?.['senha']?.errors?.['minlength']"
            >
              Nome deve ser maior
            </div>
            <div
              *ngIf=" registerForm.controls?.['senha']?.errors?.['required']"
            >
              Obrigatório a Senha!!
            </div>
          </div>
        </div>

        <div *ngIf="submitted && vs" class="text-danger">
          Senha e ou usuário incorretos!
        </div>
        <button class="btn btn-primary" type="submit">ENTRAR</button>

        <button class="btn btn-secondary" routerLink="/usuario">Criar Conta</button>
      </form>
    </div>
  </div>
</div>

