<app-tool-bar></app-tool-bar>
<div class="cont">
  <app-menu></app-menu>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-2">
        <h2 style="color: wheat">Pacientes</h2>
        <br />
        <form [formGroup]="registerForm">
          <div class="form-group">
            <div class="form-floating mb-3">
              <input
                [ngClass]="{'is-invalid': submitted && registerForm.controls?.['nome']?.errors}"
                type="text"
                formControlName="nome"
                class="form-control"
                placeholder="Nome"
              />
              <label>Nome</label>
            </div>
          </div>
          <div
            *ngIf="submitted && registerForm.controls?.['nome']?.errors"
            class="text-danger"
          >
            <div *ngIf="registerForm.controls?.['nome']?.errors?.['required']">
              O Email é obrigatório!!
            </div>
            <div *ngIf="registerForm.controls?.['nome']?.errors?.['nome']">
              Formato incorreto!!
            </div>
          </div>

          <div class="form-group">
            <div class="form-floating mb-3">
              <input
                [ngClass]="{
                  'is-invalid':
                    submitted && registerForm.controls['cpf']?.errors
                }"
                type="text"
                formControlName="cpf"
                mask="000.000.000-00"
                class="form-control"
                placeholder="kkkkkk"
              />
              <label>Cpf</label>

              <div
                *ngIf="submitted && registerForm.controls?.['cpf']?.errors"
                class="text-danger"
              >
                <div
                  *ngIf="registerForm.controls?.['cpf']?.errors?.['required']"
                >
                  O CPF é obrigatório!!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-floating mb-3">
              <input
                [ngClass]="{
                  'is-invalid':
                    submitted && registerForm.controls['email']?.errors
                }"
                type="text"
                formControlName="email"
                class="form-control"
                placeholder="kkkkkk"
              />
              <label>Email</label>

              <div
                *ngIf="submitted && registerForm.controls?.['email']?.errors"
                class="text-danger"
              >
                <div
                  *ngIf="registerForm.controls?.['email']?.errors?.['email']"
                >
                  O Email é obrigatório!!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-floating mb-3">
              <input
                [ngClass]="{
                  'is-invalid': submitted && registerForm.controls['rg']?.errors
                }"
                type="text"
                formControlName="rg"
                mask="00.000.000.00"
                class="form-control"
                placeholder="kkkkkk"
              />
              <label>RG</label>

              <div
                *ngIf="submitted && registerForm.controls?.['rg']?.errors"
                class="text-danger"
              >
                <div
                  *ngIf="registerForm.controls?.['rg']?.errors?.['required']"
                >
                  O RG é obrigatório!!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-floating mb-3">
              <input
                [ngClass]="{
                  'is-invalid':
                    submitted && registerForm.controls['telefone']?.errors
                }"
                type="text"
                formControlName="telefone"
                mask="(00) 0 0000-0000"
                class="form-control"
                placeholder="kkkkkk"
              />
              <label>Telefone</label>

              <div
                *ngIf="submitted && registerForm.controls?.['telefone']?.errors"
                class="text-danger"
              >
                <div
                  *ngIf="registerForm.controls?.['telefone']?.errors?.['required']"
                >
                  O telefone é obrigatório!!
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-floating mb-3">
              <input
                onkeydown="return false"
                [ngClass]="{'is-invalid': submitted && registerForm.controls?.['dataNascimento']?.errors}"
                type="date"
                min="1980-01-01"
                max="2005-01-01"
                formControlName="dataNascimento"
                class="form-control"
                id="floatingInput"
                placeholder="Data"
              />
              <label for="floatingInput">Data De Nascimento</label>
            </div>
            <div
              *ngIf="submitted && registerForm.controls?.['dataNascimento']?.errors"
              class="text-danger"
            >
              <div
                *ngIf="registerForm.controls?.['dataNascimento']?.errors?.['required']"
              >
                A Data é obrigatória!!
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-floating mb-3">
              <select
                class="form-select"
                id="floatingSelectGrid"
                aria-label="Floating label select example"
                formControlName="estado"
                placeholder="Gênero"
              >
                <option value="Casado(a)"> Casado(a)</option>
                <option value="Solteiro(a)"> Solteiro(a)</option>
                <option value="União Estável"> União estável</option>
              </select>
              <label for="floatingSelectGrid"> Estado Civil</label>
            </div>
          </div>


          <div class="form-group">
            <div class="form-floating mb-3">
              <select
                class="form-select"
                id="floatingSelectGrid"
                aria-label="Floating label select example"
                formControlName="genero"
                placeholder="Gênero"
              >
                <option value="male">male</option>
                <option value="female">female</option>
                <option value="nd">N D</option>
              </select>
              <label for="floatingSelectGrid">GÊNERO</label>
            </div>
          </div>
          <br />
          <div class="form-group">
            <div class="form-floating mb-3">
              <input
                type="text"
                [ngClass]="{'is-invalid': submitted && registerForm.controls?.['cep']?.errors}"
                formControlName="cep"
                class="form-control"
                (change)="BuscaCep()"
                placeholder="Cep"
              />
              <label for="cep">CEP</label>
            </div>
          </div>

          <div *ngIf="end">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  [readOnly]="true"
                  formControlName="uf"
                  [ngModel]="end.uf"
                  class="form-control"
                  placeholder="Rua"
                />
                <label for="uf">uf</label>
              </div>
            </div>

            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  [readOnly]="true"
                  formControlName="bairro"
                  [(ngModel)]="end.bairro"
                  class="form-control"
                  placeholder="Bairro"
                />
                <label for="bairro">Bairro</label>
              </div>
            </div>

            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  [readOnly]="true"
                  formControlName="rua"
                  [ngModel]="end.logradouro"
                  class="form-control"
                  placeholder="Rua"
                />
                <label for="rua">Rua</label>
              </div>
            </div>
          </div>

          <br />
        </form>
        <button
          class="btn btn-primary"
          [disabled]="disBotao"
          (click)="OnSubmit()"
        >
          CADASTRAR
        </button>
        <button
          class="btn btn-warning"
          [disabled]="!disBotao"
          (click)="EditPac()"
        >
          EDITAR
        </button>
        <button
          class="btn btn-danger"
          [disabled]="!disBotao"
          (click)="Deletar()"
        >
          DELETAR
        </button>
      </div>
    </div>
  </div>
</div>
