<app-tool-bar></app-tool-bar>
<div class="conteudo">
  <div>
    <app-menu></app-menu>
  </div>
  <div class="init">
    <nav class="navbar navbar-light bg-light">
      <input
        [(ngModel)]="nomeBusca"
        class="form-control mr-sm-2"
        type="search"
        placeholder="Busca"
        aria-label="Search"
      />
    </nav>
    <div *ngFor="let b of pacientes">
      <div
        class="col-12 col-md-6 col-lg-4 col-xl-3"
        *ngIf="
          b.nome.toUpperCase().includes(nomeBusca.toUpperCase()) &&
          nomeBusca !== ''
        "
      >
        <div class="container my-5">
          <div class="row d-flex">
            <div class="card mb-3 col p-0">
              <div class="card-body">
                <h5 class="card-title">Nome: {{ b.nome }}</h5>
                <p class="card-text">Cep: {{ b.cep }}</p>
                <p class="card-text">Rua: {{ b.rua }}</p>
                <p class="card-text">Id {{ b.id }}</p>
                <button
                  class="btn btn-outline-success my-2 my-sm-0"
                  (click)="Detalhes(b.id)"
                >
                  detalhes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2>Estatísticas</h2>
    <div class="container my-5">
      <div class="row d-flex">
        <div class="card mb-3 col p-0">
          <div class="card-body">
            <h5 class="card-title">Total de vacinas e pacientes</h5>
            <p class="card-text">Pacientes: {{ pac }}</p>
            <p class="card-text">Vacinas: {{ vac }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container my-5">
      <h1>Pacientes</h1>
      <div class="row d-flex">
        <div
          *ngFor="let b of pacientes"
          class="col-12 col-md-6 col-lg-4 col-xl-3"
        >
          <div class="card mb-3 col p-0">
            <div class="card-body">
              <h5 class="card-title">Nome: {{ b.nome }}</h5>
              <p class="card-text">Cep: {{ b.cep }}</p>
              <p class="card-text">Rua: {{ b.rua }}</p>
              <button class="btn btn-primary" (click)="Detalhes(b.id)">
                detalhes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
